/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url("../fonts/roboto-v29-latin-regular.woff2") format("woff2"),
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url("../fonts/roboto-v29-latin-regular.woff") format("woff");
  font-display: swap;
}
/* source-code-pro-regular - latin */
@font-face {
  font-family: "Source Code Pro";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url("../fonts/source-code-pro-v20-latin-regular.woff2") format("woff2"),
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url("../fonts/source-code-pro-v20-latin-regular.woff") format("woff");
  font-display: swap;
}
/* source-code-pro-500 - latin */
@font-face {
  font-family: "Source Code Pro";
  font-style: normal;
  font-weight: 500;
  src: local(""),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url("../fonts/source-code-pro-v20-latin-500.woff2") format("woff2"),
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url("../fonts/source-code-pro-v20-latin-500.woff") format("woff");
  font-display: swap;
}
/* source-serif-4-regular - latin */
@font-face {
  font-family: "Source Serif 4";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
    url("../fonts/source-serif-4-v1-latin-regular.woff2") format("woff2"),
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url("../fonts/source-serif-4-v1-latin-regular.woff") format("woff");
  font-display: swap;
}
